// rank背景图片
bg-url($name) {
  background-image: url($name + '@2x.png');
  background-size: contain;
  background-repeat: no-repeat;

  @media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
    background-image: url($name + '@3x.png');
    background-size: contain;
  }
}

// 显示省略号
no-wrap() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 扩展点击区域
extend-click() {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    x;
    bottom: -10px;
  }
}

// 定位居中
position-center($position, $direction) {
  position: $position;
  transform: translate3d($direction == 'x' ? -50% : 0, $direction == 'y' ? -50% : 0, 0);

  if ($direction == 'y') {
    top: 50%;
  }

  if ($direction == 'x') {
    left: 50%;
  }

  if ($direction == 'both') {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
