$line-height = 1em;
$theme-dark-yellow = #b78b03;
$list-shortcut-bc = rgb(0, 0, 0);
$background-color = #222;
$background-color-a = rgba(0, 0, 0, 0.5);
$background-color-d = #111;
$background-color-l = #333;
$text-highlight-color = #ffcd32;
$text-color = rgb(155, 155, 155);
$text-color-l = rgba(255, 255, 255, 0.2);
$text-dark-color = rgb(100, 100, 100);

// z-index
$playlist-zindex = 500;
$player-zindex = 600;
$mini-player-zindex = 450;
$toptip-zindex = 700
$user-center-zindex = 400