$line-height = 1em
$text-highlight-color = #ffcd32
$background-color = #222
$background-color-a = rgba(0,0,0,0.5)
$background-color-d = #111
$background-light-color = #333
$theme-dark-yellow = #b78b03
$text-color = rgba(255, 255, 255, 0.5)
$text-dark-color = rgba(255,255,255,0.3)
$list-shortcut-bc = rgb(0, 0, 0)

// z-index

$playlist-zindex = 900
$player-zindex = 100
$mini-player-zindex = 800